// Import the non-default scaffolding module to help us get started.
@import "partials/syntax";
@import "partials/typography";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

// This configuration will only apply the
// blueprint styles to pages with a body class of "bp"
// This makes it easier to have pages without blueprint styles
// when you're using a single/combined stylesheet.

body 
{
  @include my-typography(true);
  @include prepend-top(10px);
}

div#container
{  
  @include container;
}

a:hover>header[role='banner']
{
  @include box-shadow;
}

header[role='banner'] 
{
  @include border-radius;
  background: #00A4DA;
  color: #fff;
  overflow: visible;
  z-index: 10;
  text-align: left;
  border: 1px solid gray;
}

header hgroup hr
{
  margin-bottom: 0.75em;
}

section#content
{
  padding: 30px 60px 30px 60px;
}

footer
{
  @include prepend-top(10px);
  @include append-bottom(10px);
  padding: 20px 80px 20px 80px;
  overflow: visible;
  z-index: 10;
  border-top: 1px solid #E0E0E0;
  font-size: 80%;
}

.footnote
{
  font-size: 80%;
}

nav li
{
  list-style: disc;
}
