<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
  <title>Monkey Snatch Banana: {{ page.title }}</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="{{page.summary}}" />
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />	
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link href="/css/msb.css" rel="stylesheet" type="text/css" />
  <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
  <link href="/atom.xml" rel="alternate" title="Monkey Snatch Banana" type="application/atom+xml" /> 
</head>
<body>
  <div class="container">
    <div class="span-24 last">
      <div id="header">
        <a href="/"><img src="/images/logo.png" alt="Monkey Snatch Banana" /></a>
      </div>
    </div>
    <div class="span-24 last">
      <div id="content">{{ content }}</div>
    </div>
    <div class="span-24 last">
      <div id="footer">
        sean@monkeysnatchbanana.com
        <!--
          <span><a href="/">Home</a></span>
          <span><a href="/">About</a></span>
          <span><a href="/">Contact</a></span>
        --> 
      </div>
    </div>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12041391-1']);
    _gaq.push(['_setDomainName', '.monkeysnatchbanana.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
