<!doctype html>
<html lang="en" class="no-js"> 
<head> 
  <title>Monkey Snatch Banana: {{ page.title }}</title> 
  <meta charset="utf-8">
  <meta name="description" content="{{page.summary}}">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <script src="/js/modernizr-1.6.min.js"></script>
  <link rel="stylesheet" href="/css/screen.css" media="screen, projection">
  <link rel="stylesheet" href="/css/print.css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/ie.css" media="screen, projection">
  <![endif]-->
  <link href="/atom.xml" rel="alternate" title="Monkey Snatch Banana" type="application/atom+xml"> 
</head>
<body class="bp">
  <div id="container" class="container">
    <a href="/">
    <header role="banner">
      <img src="/images/logo.png" alt="Monkey Snatch Banana">
    </header>
    </a>

    <section id="content">{{ content }}</section>

    <footer role="contentinfo">
      <address>sean@monkeysnatchbanana.com</address>
    </footer>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12041391-1']);
    _gaq.push(['_setDomainName', '.monkeysnatchbanana.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
